* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --green: #426b1f;
  --gray: #6d6d6d;
  --bg: #fafaf5;
  --white: white;
  --black: black;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  padding: 0 15px;
  margin: auto;
}
.container li {
  list-style: none;
}
.container a{
  text-decoration: none;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.hero{
  margin-top: 80px;
  padding: 100px 0;
  text-align: center;
}
.hero .container .hero-text{
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.hero .container .hero-text h1{
  font-weight: 400;
  font-size: 64px;
  line-height: -2%;
  align-items: center;
  color: var(--black);
}
.hero .container .hero-text .shop{
  font-weight: 600;
  font-size: 20px;
  margin:54px auto;  
  padding: 30px  ;
  color: var(--white);
  background-color: var(--green);
  border-radius: 8px;
}